In [3]:
#importing pandas as pd
import pandas as pd
  
# Read and store content
# of an excel file 
read_file = pd.read_excel (r'C:\Users\Muhammad Labib\Desktop\TA_sementara.xlsx')
  
# Write the dataframe object
# into csv file
read_file.to_csv (r"TA_sementara.csv", 
                  index = None,
                  header=True)
    
# read csv file and convert 
# into a dataframe object
df = pd.DataFrame(pd.read_csv(r"TA_sementara.csv"))
  
# show the dataframe
df

,Li_sto,Ni_sto,Co_sto,Mn_sto,sint_temp,sint_time,dop_ionrad,dop_sto,xrd_a,xrd_c,Rca,%_catmix,init_cap,%_cr
0,1.0,0.800,0.100,0.100,750,15.0,0.000,0.000,2.8710,14.2087,4.949000,1.580,185,74.000000
1,1.0,0.790,0.100,0.100,750,15.0,1.170,0.010,2.8709,14.2005,4.946400,1.970,190,90.000000
2,1.0,0.770,0.100,0.100,750,15.0,1.170,0.030,2.8712,14.2013,4.946100,1.640,175,95.000000
3,1.0,0.800,0.100,0.100,850,20.0,0.000,0.000,2.8727,14.2012,4.943500,3.230,188,82.000000
4,1.0,0.792,0.099,0.099,850,20.0,0.605,0.010,2.8729,14.2112,4.946600,3.200,187,89.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,1.0,0.800,0.100,0.100,800,12.0,0.000,0.000,2.8630,14.2300,4.970311,1.357,137,75.000000
145,1.0,0.800,0.100,0.099,800,12.0,0.720,0.010,2.8660,14.2680,4.978367,1.511,171,92.000000
146,1.0,0.850,0.100,0.050,760,6.0,0.000,0.000,2.8700,14.1880,4.943554,1.600,182,83.333333
147,1.0,0.850,0.100,0.050,760,6.0,0.535,0.003,2.8720,14.1840,4.938719,1.560,189,93.333333
148,1.0,0.850,0.100,0.050,760,6.0,0.605,0.003,2.8690,14.1720,4.939700,1.160,191,85.000000

In [4]:
df.describe()

,Li_sto,Ni_sto,Co_sto,Mn_sto,sint_temp,sint_time,dop_ionrad,dop_sto,xrd_a,xrd_c,Rca,%_catmix,init_cap,%_cr
count,149.000000,149.000000,149.000000,149.000000,149.000000,145.000000,147.000000,146.000000,140.000000,140.000000,140.000000,94.000000,149.000000,149.000000
mean,0.999038,0.754174,0.122426,0.116044,806.442953,13.572414,0.487177,0.013748,2.870814,14.207275,4.948856,10.270814,172.973154,85.984340
std,0.004159,0.089740,0.039916,0.052123,37.309404,3.388594,0.376087,0.015494,0.004618,0.022632,0.008051,57.058248,18.712601,9.393015
min,0.970000,0.588000,0.050000,0.025000,750.000000,6.000000,0.000000,0.000000,2.855600,14.145000,4.931100,1.160000,121.000000,42.000000
25%,1.000000,0.700000,0.100000,0.098000,800.000000,12.000000,0.000000,0.000000,2.868950,14.194675,4.943589,2.255000,163.000000,80.000000
50%,1.000000,0.800000,0.100000,0.100000,800.000000,14.000000,0.605000,0.010000,2.870870,14.203300,4.947150,3.555000,177.000000,89.000000
75%,1.000000,0.800000,0.120000,0.150000,830.000000,15.000000,0.720000,0.020000,2.873300,14.215600,4.952100,6.737500,186.000000,93.000000
max,1.000000,0.900000,0.200000,0.200000,900.000000,24.000000,1.520000,0.060000,2.888000,14.278000,4.978367,557.000000,205.000000,98.000000